
body {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: Georgia, "Times New roman", Times, serif;
	font-size: 16px;
	line-height: 24px;
}


/* Articles & Posts */
.content-body {
	padding-left: 20px;
	padding-right: 20px;
}

.page-title {
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
}

.article-title {
	color: blue;
	margin: 0px;
}

.publishing-date {
	font-size: 14px;
	font-style: italic;
	color: red;
	margin: 0px;
}

.section-title {
	margin-top: 1.5em;  /* More space between paragraph and following section. */
}


/* Navigation Bar */
nav {
	width: 100%;
	background-color: #D6EFFF;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	list-style-type: none;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 7px 14px;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

nav a:hover {
	background-color: blue;
	color: white;
}


/* Footer */
.footer-info {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}
